body {
    background-image: url("images/beach.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: contain;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.app_container {
    display: grid;
    max-width: 25%;
    margin: auto;
}

#generate:hover {
    cursor: pointer;
}

#app {
    display: grid;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-columns: 1fr;
    max-height: 1500px;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
}

.holder {
    display: grid;
    flex-direction: column;
    text-align: center;
    padding:10px;
}

.entry {
    background: rgba(59, 74, 107, .4);
    display: grid;
    margin:10px 10px 5em 10px;
}

#entryHolder {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

#date {
    display: flex;
    padding: 10px;
}

#temp {
    display: flex;
    padding: 10px;
}

#content {
    display: flex;
    padding: 10px;
}

.headline {
    display: flex;
}
.title {
    display: flex;
    padding: 10px;
    margin: 10px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display:flex;
    font-size: 27px;
}

input {
    display:flex;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: auto;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 36px;
}

textarea {
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 833px) and (max-width: 1890px) {
    
    body {
        background-image: url("images/turtle.jpeg");
    }

}

@media screen and (max-width: 832px) {
    
    body {
        background: aqua;
    }
}